<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'shared/site_logo' %>
    </div>
    <div class="col-lg-8">
      <%= render 'shared/search' %>
    </div>
    <div class="col-lg-2">
      <%= render 'shared/page_list' %>
    </div>
  </div>
</nav>