<div class="search">
  <%= form_tag products_path, method: :get, class: "input-group" do %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search for..." %>
    <span class="input-group-btn">
      <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
    </span>
  <% end %>
</div>