<% sub_categories.each_slice(item_per_row) do |sub_category_batch| %>
  <div class="row">
    <% sub_category_batch.each do |sub_category| %>
      <div class="col-md-3">
        <div class="ibox">
          <div class="ibox-content product-box">
            <div class="product-imitation">
              <%= link_to products_path(sub_category: sub_category) do %>
                <%= image_tag(sub_category.image(:medium), alt: sub_category.name) %>
              <% end %>
            </div>
            <div class="product-desc">
              <small class="text-muted"><b></b></small>
              <a href="#" class="product-name"></a>
              <div class="small m-t-xs">
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>