<ul class="list-unstyled">
  <% payment_methods.each do |payment_method| %>
    <li><%= radio_button_tag :payment_method, "#{payment_method.id}", false,  class: 'radio-checkbox' %>
    <%= label_tag( "#{payment_method.name}") %></li>
  <% end %>
</ul>