<div class="ibox-content">
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <td width="90">
            <p class="font-bold">
            Your Order Number: <%= @order.id %>
          </p>
          </td>
          <td width="90">
            <p class="font-bold">
            Rs. <%= @order.total %>
          </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>