# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 79cd5ee1b619ad23189e0b371fa1998dce0cdd677f23fc7982687596939be46a37e1f34debef6c9e00d73ca318b4d69fcab0f0df6bebd3f540aa0a8f88b0b5a1

test:
  secret_key_base: 41cc866b87be2c6e4aa6c5417d00a60588fdc2de5d1b8c1ac4d9e11e3da9742b19362a7fa7db71184314328c224b212cef681f598dd0b1a478fe339750613f42


staging:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: 79cd5ee1b619ad23189e0b371fa1998dce0cdd677f23fc7982687596939be46a37e1f34debef6c9e00d73ca318b4d69fcab0f0df6bebd3f540aa0a8f88b0b5a1
