<div class="row" id="discount_section">
  <div class="col-md-6"><strong>Discount</strong></div>
  <div class="col-md-6" id="discount"><%= currency_rate_with_symbol(@country_rate, discount) %></div>
</div>
<hr/>