div.hidden {
  display: none;
}

div.search {
  margin: 14px;
}

/*set a border on the images to prevent shifting*/
#image_gallery img{border:2px solid white;}

 /*Change the colour*/
.active img{border:2px solid #333 !important;}

.align-right {
  text-align: right;
}

.touch-spin-custom-width {
  width: 45%;
}

.wallet-point-container {
  margin-left: 4% !important;
}

.wallet-point-text {
  margin-left: 1%;
}

.wallet-point-value {
  margin-left: 6%;
}

.sub-category-img {
  padding: 0px 0;
}

.home-page-banner{
  margin-right: -15px;
  margin-left: -15px;
  padding: 0px;
}

.navbar-bottom {
  margin-bottom: 0px;
}

.sub-category-list{
  margin-top: 20px;
}

.sidebar-vertical-line {
  border-right: 1px solid #676a6c;
}

.sort-filter-content {
  padding-bottom: 5%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { 
  .sort-filter-content {
    padding-bottom: 15%;
  }
}

