<div class="sidebar">
    <header>
      <h2>Sidebar</h2>
    </header>
    <ul class="list-unstyled"> 
      <li>A link</li>
      <li>A link</li>
      <li>A link</li>
      <li>A link</li>
      <li>A link</li>
      <li>A link</li>
      <li>A link</li>
    </ul>
  </div>