<%= render "shared/category_list" %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div id='messages'></div>
  <div class="row">
    <div class="col-md-2">
      <%= render partial: 'sidebar'%>
    </div>
    <div class="col-md-10">
      <%= render partial: 'product_list', locals: {products: @products, cart_item: @cart_item, item_per_row: @item_per_row} %>
    </div>
  </div>
</div>






