<%= render "shared/category_list" %>
<div class="wrapper wrapper-content animated fadeInRight">
  <%= render partial: 'product_list', locals: {products: @products, cart_item: @cart_item, item_per_row: @item_per_row} %>
</div>






